# PostgreSQL Database (Cloud SQL or local)
SQL_HOST=
SQL_USER=
SQL_PASSWORD=
SQL_DB_NAME=

# Single User Auth Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
JWT_SECRET=some_random_secret_string

# AI Chat configuration
GEMINI_API_KEY=
OPENROUTER_API_KEY=
